body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .signin-main {
    flex: 1 0 auto;
  }

  body {
    background: -moz-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,110,125,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(160deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e7d', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
}

.appWrapper{
  min-height: 100vh;
  background: #eee;
}

.sideNav {
  min-height: 100vh !important;
  /* background: #2d3e4f; */
  background: -moz-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,110,125,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(290deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(160deg, rgba(0,110,125,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e7d', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
  color: #fff;
}
.contentWrapper{
  min-height: 100vh;
}
.appNameContainer{
  display: flex;
  align-items: center;
}
  

  .loginbox{
    display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;
  }

  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #e91e63;
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
  }